body {
 margin: 0;
 padding: 0;

 font-family: "Roboto", Arial, sans-serif;
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 color: #283136;

 background: #ffffff;
 background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}


.main-container {
    width: 1160px;
    margin: 0 auto;
    padding: o 20px;
    outline: 2px solid yellow;
}
.main-navigation {
    display: flex;

    font-size: 16px;
    line-height: 30px;
    color: black;
    background-color: #eeeeee;
}


.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  outline: 2px solid red;
}

.site-navigation,
.basket-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  list-style: none;
}
.site-navigation a,
.basket-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active{
    color: rgba(0,0,0,0.3);
}

.basket-navigation a:hover,
.basket-navigation a:focus {
    color:#000000;
}

.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
}

.basket-navigation a:active{
    color: rgba(0,0,0,0.3);
}

.slider1-title,
.slider2-title,
.slider3-title{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    text-align: left;
}

.service-item h3{
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.slider-button{
    font: inherit;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #fb565a;
    border: none;
}

.slider-button:hover,
.slider-button:focus {
    background-color: #e74246;
}

.slider-button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

.main-header,
.sliders{
   background-color: #eeeeee;
}

.slider1-normal,
.slider2-normal,
.slider3-normal {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #283136;
}

.service-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.service-list {
    display: flex;
    list-style: none;
}

.service-item p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #283136;
}

.service-icon {
    border: none;
    background-repeat: no-repeat;
    width: 300px;
    height: 146px;
}

.service-icon-notebook {
    background-image: url("../img/notebook.jpg");
    background-color: #fb565a;
}

.service-icon-phone {
    background-image: url("../img/phone.jpg");
    background-color: #00ca74;
}

.service-icon-desk {
    background-image: url("../img/desk.jpg");
    background-color: #efc84a;
}
.service-button1,
.service-button2,
.service-button3 {
    font: inherit;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.service-button1 {
    background-color: #fb565a;
}

.service-button1:hover,
.service-button1:focus {
    background-color: #e74246;
}

.service-button1:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}
.service-button2 {
    background-color: #00ca74;
}

.service-button2:hover,
.service-button2:focus {
    background-color: #00bc6c;
}

.service-button2:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3)
}

.service-button3 {
    background-color: #efc84a;
}

.service-button3:hover,
.service-button3:focus {
    background-color: #eab534;
}

.service-button3:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3)
}

.about .main-container {
    display: flex;
    outline: 2px solid brown;
}

.about-title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.about-info {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #283136;
}

.about-bold {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.about-item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #283136;
}

.about-column1 ul {
    list-style: none;
}

.about-logo {
    width: 360px;
    height: 208px;
    text-align: left;
    background-color: #42b770;
    border: none;
}

table.about-table-column {
    border-collapse: collapse;
}

td.about-table-column {
    padding: 0px;
    margin: 0px;
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

td.about-table-column1 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: #283136;
    width: 100px;
    padding: 40px 15px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid orange;
}

.partners-logo {
    opacity: 0.20;
}

.partners-logo:hover,
.partners-logo:focus {
    opacity: 1;
}

.partners-logo:active {
   opacity: 0.1;
}

.adress-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.adress-info {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.adress-phone {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.write-button{
    font: inherit;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
}
.map {
    display: flex;
    margin: 0 auto;
    outline: 2px solid magenta;

    width: 1440px;
    height: 785px;
    text-align: left;
    background-color: #f1efe8;
    border: none;
}

.modal-item input {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid #d7dcde;
}

.modal-item span {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.modal-button{
    font: inherit;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #fb565a;
    border: none;
}
.modal-form input:focus {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}

.modal-form textarea:focus {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}

.modal-form input:invalid {
    background-color: #ffffff;
    color: #e74246;
    border: 2px solid #e74246;
}

.modal-form textarea:invalid {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}

.main-footer {
    display: flex;
    outline: 2px solid grey;
}

.social {
    text-align: left;
}

.social ul {
    list-style: none;
}

.social-button {
    color: #e1e1e1;
}

.sales-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.sales-info {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #444444;
}

.container h1{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
}

.filters ul {
  list-style: none;
  line-height: 18px;
}

.options-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.price {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;

}

.price-value {
    background-color: #eeeeee;
    color: #000000;
    border: none;
}

.price-value:hover {
    background-color: #dfdfdf;
    color: #000000;
    border: none;
}

.price-value:active {
    background-color: #d5d5d5;
    color: #000000;
    border: none;
}

.price-value:focus {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #dbdbdb;
}

.filter-options {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    color: #283136;
}

.filter-options:hover {
    color: #283136;
}

.filter-options:disabled {
    color: rgba (40,49,54,0.3);
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #eeeeee;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(255,255,255,0.3);
}

.sorting ul{
    list-style: none;
}
.sorting-title a{
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.sorting-item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.sorting-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sorting-item:focus,
.sorting-item:active {
    color: rgba(0, 0, 0, 1);
}


.sorting-item-current {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.sorting-item-current:hover,
.sorting-item-current:focus,
.sorting-item-current:active {
    color: #000000;
}

.catalog-list{
    list-style: none;
}
.catalog-item {
    text-align: center;
}
.catalog-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.catalog-info{
    font-size: 16px;
    line-height: 18x;
    font-weight: 400;
    color: #666666;
}

.catalog-button {
    font-size: 16px;
    line-height: 18x;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #fb565a;
    border: none;
}

.catalog-button:hover,
.catalog-button:focus {
    background-color: #e74246;
}

.catalog-button:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

.pagination-list {
    list-style: none;
    text-align: center;
}

.pagination-item a {
    font-size: 16px;
    line-height: 18x;
    font-weight: 500;
    text-align: center;
    background-color: #eeeeee;
    color: #000000;
    border: none;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
    color: #000000;
    border: none;
}

.price-value:focus {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #dbdbdb;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: #000000;
    border: none;
}

 .pagination-item-current a {
    font-size: 16px;
    line-height: 18x;
    font-weight: 500;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #dbdbdb;
}












































































































