body {
 margin: 0;
 padding: 0;

 font-family: "Roboto", Arial, sans-serif;
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 color: #283136;

 background: #ffffff;
 background-repeat: no-repeat;
 overflow-x:hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 58px;
}

.main-header-catalog {
  padding-top: 58px;
  background-color: #eeeeee;
  min-height: 304px;
  margin-bottom: 45px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;

  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;

}
.main-navigation {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
  background-color: #eeeeee;
}

.header-logo {
  align-self: flex-start;
  margin-right: 202px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 800px;

}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation,
.basket-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  list-style: none;
  margin: 0;
}
.site-navigation a,
.basket-navigation a {
  display: block;
  color: #000000;
/*    padding-right: 45px;*/
  padding-top: 25px;
  padding-bottom: 20px;
}

.basket-navigation a {
  padding-right: 0;
}

.site-navigation li:nth-child(2) {
  padding-right: 3px;

}

.basket {
  position: relative;
  padding-left: 50px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 10px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active{
  color: rgba(0,0,0,0.3);
}

.basket-navigation a:hover,
.basket-navigation a:focus {
  color:#000000;
}

.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.basket-navigation a:active{
  color: rgba(0,0,0,0.3);
}

.site-navigation .active {
  padding-bottom: 5px;
  border-bottom: 2px solid #f7898b;
}

.site-navigation li{
  margin-right: 45px;
}

.basket-navigation {
  position: relative;
}

.slider-main {
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.sliders {
  position: relative;
  background-color: #eeeeee;
}

.controls-container {
  position: absolute;
  left: 50%;
  bottom: 105px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.controls-container label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.controls-container label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.slider-item {
  display: none;
  padding: 67px 0 81px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 6px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -11px;;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 8px;
}

#slide-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slide-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slide-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#slide-1:checked ~ .controls-container .controls-container-slide1::before,
#slide-2:checked ~ .controls-container .controls-container-slide2::before,
#slide-3:checked ~ .controls-container .controls-container-slide3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-title {
  max-width: 600px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: left;

  margin: 0;
  margin-bottom: 27px;
}

.slider-normal {
  max-width: 430px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
  margin: 0;
  margin-bottom: 38px;
}
.slider-button{
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3)
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.service {
  padding-bottom: 80px;

}
.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.service-item {
  width: 300px;
}

.service-item:nth-child(1) {
  margin-right: 100px;
}

.service-item:nth-child(2) {
  margin-right: 100px;
}

.service-item h3{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.service-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
  width: 280px;
  margin-top: 17px;
  margin-bottom: 32px;
}

.service-icon {
  border: none;
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
  margin-bottom: 25px;
}

.service-icon-notebook {
  background-image: url("../img/notebook.jpg");
  background-color: #fb565a;
}

.service-icon-phone {
  background-image: url("../img/phone.jpg");
  background-color: #00ca74;
}

.service-icon-desk {
  background-image: url("../img/desk.jpg");
  background-color: #efc84a;
}
.service-button1,
.service-button2,
.service-button3 {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: block;
  width: 160px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.service-button1 {
  background-color: #fb565a;
}

.service-button1:hover,
.service-button1:focus {
  background-color: #e74246;
}

.service-button1:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3)
}
.service-button2 {
  background-color: #00ca74;
}

.service-button2:hover,
.service-button2:focus {
  background-color: #00bc6c;
}

.service-button2:active {
  background-color: #00aa62;
  color: rgba(255,255,255,0.3)
}

.service-button3 {
  background-color: #efc84a;
}

.service-button3:hover,
.service-button3:focus {
  background-color: #eab534;
}

.service-button3:active {
  background-color: #e5a722;
  color: rgba(255,255,255,0.3)
}

.about {
  display: flex;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 65px;
}

.about .main-container {
  display: flex;
  position: relative;
}

.about .main-container::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  border-top: 2px solid #eeeeee;
  left: 0px;
  top: -40px;
}

.about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
  margin: 0px 1px;
  padding: 35px 0;
}

.about-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #283136;
  width: 616px;
  margin: -2px 0;
  padding: 0 1px;
}

.about-bold {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}

.about-item {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
  padding-left: 35px;
  margin-bottom: 25px;
}
.about-item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fc8e91;
  left: -40px;
  top: 10px;
  margin-left: 40px;
  margin-top: -1px;
}

.about-item:nth-child(3) {
  margin-bottom: 0px;
}

.about-column1 ul {
  list-style: none;
  margin: 0 2px;
  padding: 8px 0;
}

.about-logo {
  width: 360px;
  height: 208px;
  text-align: left;
  background-color: #42b770;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 54px;
  margin-top: 0px;
}

.about-bold:nth-child(2){
  margin-top: 37px;
  margin-left: 50px;
  margin-bottom: 30px;
}
.about-table {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.aboute-table td {
  padding-right: 16px;
}

.column-top {
  color: #000000;
  padding-bottom: 15px;
}

.column-top:nth-child(1) {
  padding-left: 33px;
}
.column-top:nth-child(2) {
  padding-left: 23px;
}
.column-top:nth-child(3) {
  padding-left: 20px;
}

.column-buttom {
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #283136;
}

.column-buttom:nth-child(1) {
  padding-left: 33px;
}

.column-buttom:nth-child(2) {
  padding-left: 23px;
}

.column-buttom:nth-child(3) {
  padding-left: 21px;
}

.column-top sup {
  font-size: 25px;

}

.partners {
  margin-bottom: 78px;
}

.partners .main-container {
  display: flex;
  list-style: none;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 180px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;

}

.partners-item {
  position: relative;
  height: 180px;
  padding-left: 40px;
}

.partners-item:nth-child(4n+1) {
  padding-left: 0px;
}

.partners-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  transform: translateY(-50%);
  right: -20px;
  top: 50%;
/*  opacity: 1;*/
}

.partners-item:last-of-type::after {
  display: none;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:focus,
.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}

.iframe-map {
  border: 0;
  width: 100%;
  height: 416px;
  display: block;
  background-image: url("../img/map.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.map-container {
  position: relative;
}

.contact-adress {
  position: absolute;
  z-index: 200;
  width: 320px;
  background-color: #ffffff;
  padding-top: 49px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  box-sizing: border-box;
  margin-top: 54px;
}

.contact-title {
   font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.contact-info,
.contact-phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  margin: 0;
  color: #666666;
  text-decoration: none;
}

.contact-info {
  margin-bottom: 21px;
}

.contact-phone {
  margin-bottom: 37px;
}

.button {
  display: block;
  width: 219px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.write-button:hover,
.write-button:focus {
  background-color: #e74246;
}

.write-button:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}

.main-footer {
  display: flex;
  justify-content:flex-start;
  padding-bottom: 92px;
}

.social {
  text-align: left;
  padding-top: 66px;
}

.social-button {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.social-button {
  background-color: #e1e1e1;
}

.social-button-vk {
  margin-right: 12px;
}

.social-button-fb {
  margin-right: 12px;
}

.social-list {
  display:flex;
}
.social a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.friendship {
  margin-left: 140px;
  padding-top: 66px;
}

.sales-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  margin-top: 9px;
  text-align: left;
  color: #000000;
}

.sales-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #444444;
}

.modal {
  position: fixed;
  z-index: 20;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px 0 #636464;
  bottom: 0px;
  left: 50%;
  margin-left: -481px;
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 590px;
  padding-left: 99px;
  padding-top: 67px;
  padding-right: 80px;
  padding-bottom: 84px;
}

.modal-button-close {
  position: absolute;
  top:78px;
  right: 88px;
  width: 22px;
  height: 22px;
  font-size: 0;

  border: 0;
  cursor: pointer;
  background-color: transparent;

}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 87px;
  right: 87px;;
  width: 25px;
  height: 3px;
  background-color: rgba(251,86,90, 0.3);

}
.button-close::before {
  transform: rotate(45deg);
}
.button-close::after {
  transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after {
background-color: rgba(251,86,90, 1);
}

.button-close:active::before,
.button-close:active::after {
background-color: rgba(251,86,90, 0.1);
}

.modal{
  position: fixed;
  z-index: 300;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 20px 40px 0 #636464;
  top: 7%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 960px;
  min-height: 590px;
  padding-left: 100px;
  padding-top: 68px;
  padding-right: 80px;
  padding-bottom: 84px;
}

.modal-button-close {
  position: absolute;
  top:78px;
  right: 88px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.3;*/
}

.modal-button-close::before,
.modal-button-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: rgba(215, 55, 59, 1);
}

.modal-button-close::before {
  transform: rotate(45deg);
}

.modal-button-close::after {
  transform: rotate(-45deg);
}

.modal-button-close:focus,
.modal-button-close:hover {
  opacity: 1;
}

.modal-button-close:active {
  opacity: 0.1;
}

.modal {
  display: none;
}
.modal-show {
  display: block;
  animation: zoom 0.6s;
}
@keyframes shake {
  0%,100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@keyframes zoom {
  from {
  transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.modal-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
}

.modal-wrapper-fields {
  width: 360px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.modal-wrapper {
  display: flex;
  padding-bottom: 3px;
}

.message-field {
  margin-bottom: 50px;
}

.modal-field {
display: flex;
  flex-direction: column;
}

.modal-name{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 10px;
  text-align: left;
  color: #000000;
}

.modal-input {
  width: 360px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding-left: 13px;
  box-sizing: border-box;
}

.modal-input::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.5);
   }
.modal-input::-moz-placeholder {
    color: rgba(68, 68, 68, 0.5);
   }

.modal-input:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #b4b9bb;
}

.modal-input:focus {
  color: #000000;
  border: 2px solid #000000;
  outline: none;
}

.invalid {
  color: #e74246;
  border-color: #e74246;
}

.textarea {
  width: 760px;
  border: 2px solid #d7dcde;
  padding: 12px 13px;
  height: 115px;
  resize: none;
}

.modal-button-send {
  width: 260px;
  height: 50px;
  margin-bottom: 84px;
  background-color: #fb565a;
}

.modal-button-send:hover,
.modal-button-send:focus {
  background-color: #e74246;
}

.modal-button-send:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.header-container {
  width: 50px;
  height: 50px;
}

.main-header-catalog h1 {
  text-align: center;
  font-size: 55px;
  padding-top: 45px;
  color: #000000;
}

.catalog-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sorting-catalog {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.catalog {
  margin-bottom: 0px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-containers {
  position: relative;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.filter-catalog {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  border: none;
}

.filter-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 260px;
  margin-top: 55px;
}

.range-line {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-block {
  height: 2px;
  background: #d7dcde;
}

.line {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-filter .point {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-filter .point-min {
  left: 20px;
}

.range-filter .point-max {
  left: 162px;
}

.range-control {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.price {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  text-align: left;
  color: #283136;
}

.price:nth-child(2) {
  justify-content: flex-end;
}

.price-value {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.grid-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-catalog:nth-child(2) .filter-title {
  padding-bottom: 15px;
}

.filter-catalog:nth-child(3) .filter-title {
    padding-bottom: 18px;
}

.filters .filter-catalog:nth-child(2) {
    margin-bottom: 35px;
}

.filters .filter-catalog:nth-child(3) {
    margin-bottom: 37px;
}

.grid-mark {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-weight: normal;
  padding-left: 37px;
  text-align: left;
  background-repeat: no-repeat;
  position: relative;
  color: #283136;
}

.grid-mark:hover {
  color: #000000;
}

.grid-mark:disabled {
  color: rgba(40,49,54,0.3);
}

.grid-mark::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 27px;
  position: absolute;
  left: 0;
  opacity: 0.4;
}

.grid-item input:checked + .grid-mark::before {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
}

.grid-item .grid-mark::before {
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

.mark-features input:checked + .grid-mark::before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.mark-features .grid-mark::before {
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.grid-mark:hover::before {
  opacity: 1;
}

.grid-mark:disabled::before {
  opacity: 0.1;
}

.grid-item,
.mark-features {
  padding-bottom: 15px;
}

.filter-button {
  width: 260px;
  font-size: 16px;
  color: #000000;
  padding: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.sorting {
  display: flex;

}
.sorting ul{
  list-style: none;
  display: inline-block;
  padding: 0;
  display: flex;
}
.sorting li{
  font-size: 14px;
  line-height: 18px;
  margin-right: 27px;
}

.sorting-title a {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  min-width: 160px;
  margin-right: 215px;
}

.sorting-item {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item:focus,
.sorting-item:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-item-current {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.sorting-item-current:hover,
.sorting-item-current:focus,
.sorting-item-current:active {
    color: #000000;
}

.sorting-control {
  display: inline-block;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  padding-left: 15px;
}

.sorting-control-button {
  opacity: 0.2;
}

.sorting-control-button:hover,
.sorting-control-button:focus {
  opacity: 0.6;
}

.sorting-control-button:active {
  opacity: 1;
}

.up {
  margin-left: 10px;
}

.sorting a {
  text-transform: uppercase;
}

.sorting {
  margin-bottom: 38px;
}

.sorting li {
  font-size: 14px;
  line-height: 18px;
  margin-right: 27px;
}

.sorting-item:last-child {
  padding-right: 1px;
}

.sorting-button {
  opacity: 0.3;
}

.sorting-button:hover,
.sorting-button:focus {
  opacity: 0.6;
}

.sorting-button:hover,
.sorting-button:focus {
  opacity: 1;
}
.down {
  opacity: 1;
}
.down:focus,
.down:hover,
.down:active {
  opacity: 1;
}

.catalog {
  margin-bottom: 30px;
}

.catalog-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 29px;
}

.catalog-item {
  position: relative;
  text-align: center;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35);
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item:hover .catalog-desk {
  display: block;
}

.catalog-desk {
  position: absolute;
  z-index: 10;
  width: 360px;
  bottom: 0;
  background-color: #eeeeee;
  color: #666666;
  padding-top: 27px;
  padding-bottom: 43px;
  display: none;
}

.catalog-desk p {
  margin: 0 auto;
  max-width: 240px;
}
.catalog-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.catalog-info{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  margin: 0 auto;
  width: 180px;
  padding-bottom: 32px;
  padding-left: 5px;
}

.catalog-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.catalog-desk .catalog-button {
  margin: 0 auto;
  display: block;
  width: 200px;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #e74246;
}

.catalog-button:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3)
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.browser {
  z-index: 20;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.catalog-item:hover .browser {
  opacity: 1;
}

.catalog-item:nth-child(1) .browser{
  opacity: 1;
}


.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

}

.pagination-list li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
}

.pagination-list a {
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
  margin-right: 6px;
  border-radius: 3px;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  color: #000;
  text-transform: uppercase;
}

.pagination-list .pagination-item:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-list .pagination-item:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: inset 0 5px #bfbfbf;
}
.pagination-list .active {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
}

.pagination-list .next-page {
  width: 255px;
}

.pagination-list .active:focus,
.pagination-list .active:hover,
.pagination-list .active:active {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
}










































































































